{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
  <head>
    <title>{{ html_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../dist/img/favicon.ico">
    <!-- iPad retina icon -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../dist/img/apple-touch-icon-precomposed-152.png">
    <!-- iPad retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../dist/img/apple-touch-icon-precomposed-144.png">
    <!-- iPad non-retina icon -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../dist/img/apple-touch-icon-precomposed-76.png">
    <!-- iPad non-retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../dist/img/apple-touch-icon-precomposed-72.png">
    <!-- iPhone 6 Plus icon -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../dist/img/apple-touch-icon-precomposed-180.png">
    <!-- iPhone retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../dist/img/apple-touch-icon-precomposed-114.png">
    <!-- iPhone non-retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../dist/img/apple-touch-icon-precomposed-57.png">

    <link href="{% static 'css/patternfly.min.css' %}" rel="stylesheet" media="screen, print">
    <link href="{% static 'allthing/css/pf_at.css' %}" rel="stylesheet" media="screen, print">
    <link href="{% static 'allthing/css/at.css' %}" rel="stylesheet" media="screen, print">
    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src=".{% static 'components/c3/c3.min.js' %}"></script>
    <script src="{% static 'components/d3/d3.min.js' %}"></script>
    <script src="{% static 'js/patternfly.min.js' %}"></script>
    <script src="{% static 'allthing/js/atlib.js' %}"></script>
    <script src="{% static js_entry %}"></script>
    <script>
      $(function() { {{ init_func }} });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="{% static 'allthing/dist/img/brand.svg' %}" alt="AllThing Performance Monitor">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li>
            <a href="#">Status</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="pficon pficon-user"></span>
              {{ full_name }}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/at_login/logout">Log Out</a>
              </li>
              <li>
                <a href="#">Preferences</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
          <li {% if dashboard %}class="active"{% endif %}>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li {% if nodelist %}class="active"{% endif %}>
            <a href="/nodelist">Node List</a>
          </li>
          <li {% if reports %}class="active"{% endif %}>
            <a href="/reports">Reports</a>
          </li>
          <li {% if settings %}class="active"{% endif %}>
            <a href="/settings">Settings</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-md-9">
          <div class="page-header page-header-bleed-right">
            <div class="actions pull-right">
              <a onclick="script: {{ init_func }}" style="cursor: pointer"><span class="pficon pficon-refresh"></span> Refresh Results</a>
            </div>
            <h1>{{ page_heading }}</h1>
          </div>
          <div id="page_outter"></div>
          <div id="debug_messages"></div>
        </div><!-- /col -->
        <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">
          <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
            <div class="actions pull-right">
              <a href="#">Clear Messages</a>
            </div>
            <h2 class="h5">Messages</h2>
          </div>
          <ul class="list-group">

          </ul>
          <p><a href="#">See all messages</a></p>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->

  </body>
</html>
