<table class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mem Total</td>
      <td></td>
    </tr>
    <tr>
      <td style="background-color: {{ mem_used_color }};">Used</td>
      <td></td>
    </tr>
    <tr>
      <td style="background-color: {{ mem_buffers_color }};">Buffers</td>
      <td></td>
    </tr>
    <tr>
      <td style="background-color: {{ mem_cached_color }};">Cached</td>
      <td></td>
    </tr>
    <tr>
      <td style="background-color: {{ mem_free_color }};">Free</td>
      <td></td>
    </tr>
  </tbody>
</table>
