.form_field {
    border: 1px solid blue;
    background-color: white;
    color: black;
    padding: 2px;
}
.form_button {
    border: 1px solid blue;
    background-color: white;
    color: black;
}

.node_summary_element {
    width: 300px;
    padding: 5px;
    color: purple;
    border: 1px solid red;
}

.node_brick {
    padding: 15px;

}