{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ html_title }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'allthing/css/main.css' %}" />

<script src="{% static 'allthing/js/entry.js" />
</head>

<body>

<form action="/at_login/auth/" method="post">
{% csrf_token %}
    <div style="position: absolute;top:30%;left:15%;background-color:gray;color:white;border:1px solid blue;">
        {% if message %}
        <div style="background-color:yellow;color:red; padding: 5px">{{ message }}</div>
        {% endif %}
        <table style="width:400px">
            <tr>
                <td colspan="2" style="font-size:22px;padding:10px">Log in:</td>
            </tr>
            <tr>
                <td style="text-align:right">Username: </td>
                <td><input type="text" name="at_username" id="at_username" value="" label="Username" class="form_field"/></td>
            </tr>
            <tr>
                <td style="text-align:right">Password: </td>
                <td><input type="password" name="at_password" id="at_password" value="" label="Password" class="form_field"/></td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:22px;padding:10px">
                    <input type="submit" name="at_submit_login" id="at_submit_login" class="form_button" value="Go" />
                </td>
            </tr>
        </table>
    </div>
<input type="hidden" name="next" value="{{ loginredirect }}" />
</form>
</body>

</html>
